* {
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
    background-image: linear-gradient(to left bottom, #09295d, #6c466c, #a0737d, #c2a9a1, #e2dfdb);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#big_wrapper {
    /* border: 5px solid #F7D690;     */
    width: 1000px;

    margin: 20px auto;
    padding: 35px;
    /* background: #E7404A; */
    /* background: #567086; */
    text-align: left;

    border-radius: 40px 40px 5px 5px;
    opacity: 0.8;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);       
    position: relative;
    z-index: 1;    
    overflow: hidden;

    background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(10px);
}


#top_header {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to top, rgba(255, 255, 255, 0.042), rgba(255, 255, 255, 0.3));
    /* color: #e2dfdb; */

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

    padding: 20px;
    margin: -20px;

    border-radius: 30px;
    /* opacity: 0.3; */
}

#logo {
    opacity: 0.9;
    /* color: blue; */
}

#reversed_logo {
    position: absolute;
    transform: scaleY(-1);    
    margin-top: -16px;
    opacity: 0.2;
    text-align: center;
}

#reversed_logo img {}

#top_menu {
    text-align: right;
}

#top_menu li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* text-transform: uppercase; */
    color: rgba(255, 255, 255, .65);

    /* margin-top: 30px;     */
    display: inline-block;
    list-style: none;

    padding: 10px 20px;

    border-radius: 20px;

    box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, .2);   
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

#top_menu li:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .2);
    filter: blur(10px);
    margin: -20px;
}

#top_menu li:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 1.9rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, 0.2);
}

#main_section {
    float: left;
    width: 660px;
    padding: 20px;
    margin-top: 20px;
    background: darkmagenta;
    /* opacity: 0.8; */
}

#side_news {
    float: left;
    width: 200px;
    padding: 40px;
    margin-top: 20px;
    margin-left: 20px;
    background: darkorange;
    /* opacity: 0.7; */
}

#main_section article {
    padding: 10px;
    margin: 10px;
    border: 2px solid saddlebrown;    
}

#main_section article footer {
    text-align: right;
}

#footer {
    clear: both;
    text-align: center;
    padding: 20px;
    background: darkcyan;
}