* {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font: bold 20px Helvetica;
}

h2 {
    font-size: 14px;
}

header,
section,
aside,
article,
footer,
nav {
    display: block;
}

body {
    text-align: center;
}

#top_header {
    z-index: 0;
}

img {
    height: 40px;
    /* border-radius: 100px; */
    opacity: 1 !important;
    z-index: 10;
    color: white;
    /* background: white; */
}

